{% extends 'base.html' %}

{% block content %}
<h1>Approve Comments</h1>
<form method="post">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Select</th>
                <th>Author</th>
                <th>Content</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td><input type="checkbox" name="comments" value="{{ comment.id }}"></td>
                <td>{{ comment.author.username }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Approve Selected</button>
</form>
{% endblock %}
